<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 
        Botkit CMS
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN CORE PLUGINS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script>
    function error_alert(){
        swal({
            title: "Thất bại!",
            text: "Đã có lỗi xảy ra, vui lòng thử lại sau!",
            type: "error",
            confirmButtonColor: 'red'
        })
    }
    loadProgressBar()
    $(document).ready(function()
    {
        $('#clickmewow').click(function()
        {
            $('#radio1003').attr('checked', 'checked');
        });
    })
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var notice_dropdown = document.getElementById('notice_dropdown')
    var bell = document.getElementById('bell')
    var bell_num = document.getElementById('bell_num')

    function update_bell(){
        var num = notice_dropdown.querySelectorAll('li').length
        bell_num.style.display = 'inline-block'
        bell_num.innerHTML = num
    }

    function add_to_notice_dropdown(content, href, i_class, ticket_id){
        var newNode = document.createElement('li')
        if(ticket_id) newNode.id = ticket_id
        var a = document.createElement('a')
        a.href = href
        var span = document.createElement('span')
        span.classList.add('details')
        var i = document.createElement('i')
        i.classList.add('fa', i_class)
        span.innerHTML = "  " + content 
        a.append(i)
        a.append(span)
        newNode.append(a)
        notice_dropdown.appendChild(newNode)
    }

    var socket = io()
    socket.on('recieve new feedback', function(data){
        console.log('Receive new feedback')
        var notify_feedback = document.getElementById('notify_feedback')
        notify_feedback.style.display = 'block'
        add_to_notice_dropdown('Một feedback vừa được thêm mới', `/manager/feedback/`, 'fa-comments') 
        update_bell()      
    })

    socket.on('recieve new ticket', function(data){
        console.log('Receive new ticket')
        var notify_ticket = document.getElementById('notify_ticket')
        notify_ticket.style.display = 'block'
        add_to_notice_dropdown(`Ticket ${data.id} vừa được thêm mới`, `/manager/ticket/properties/${data.id}`, 'fa-ticket-alt') 
        update_bell() 
    })

</script>