<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start ">
                <a href="/" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <!-- <li class="heading">
                <h3 class="uppercase">Tính năng</h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file-word-o"></i>
                    <span class="title">Mẫu tin nhắn</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/script" class="nav-link ">
                            <span class="title">Danh sách mẫu tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="#" class="nav-link nav-toggle">
                            <span class="title">Thêm mẫu tin nhắn</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item ">
                                <a href="/script/add/question" class="nav-link "> Tạo câu hỏi, khảo sát người dùng </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/script/add/response" class="nav-link "> Trả lời tin nhắn người dùng </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  ">
                        <a href="components_multi_select.html" class="nav-link ">
                            <span class="script/document">Hướng dẫn</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="far fa-paper-plane"></i>
                    <span class="title">Tin nhắn 24+1</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/message241/broadcast" class="nav-link ">
                            <span class="title">Tin nhắn quảng bá (broadcast message)</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/message241/message-tag" class="nav-link ">
                            <span class="title">Tin nhắn đính kèm thẻ (message tag)</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/message241/history" class="nav-link ">
                            <span class="title">Lịch sử gửi tin nhắn 24+1</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/message241/document" class="nav-link ">
                            <span class="title">Hướng dẫn</span>
                        </a>
                    </li>
                </ul>
            </li> -->
            <% if (user.role != 'user') { -%>
                <li class="heading">
                    <h3 class="uppercase">Quản lý danh mục</h3>
                </li>
                <li class="nav-item  ">
                    <a href="/manager/member" class="nav-link">
                        <i class="far fa-address-book"></i>
                        <span class="title">Danh sách điểm bán</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="javascript;" class="nav-link nav-toggle">
                        <i class="fab fa-product-hunt"></i>
                        <span class="title">Danh mục sản phẩm</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-tem">
                            <a href="/manager/product" class="nav-link ">
                                <span class="title">Quản lý danh sách sản phẩm</span>
                            </a>
                        </li>
                        <li class="nav-tem">
                            <a href="/manager/package/image" class="nav-link ">
                                <span class="title">Hình ảnh mô tả sản phẩm</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="/manager/province" class="nav-link">
                        <i class="fas fa-building"></i>
                        <span class="title">Danh mục tỉnh thành</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/manager/district" class="nav-link">
                        <i class="far fa-hospital"></i>
                        <span class="title">Danh mục quận huyện</span>
                    </a>
                </li>
                <li class="heading">
                    <h3 class="uppercase">Ticket</h3>
                </li>
                <li class="nav-item  ">
                    <a href="/manager/ticket" class="nav-link">
                        <i class="far fa-check-square"></i>
                        <span class="title">Quản lý ticket</span>
                        <span id="notify_ticket" class="badge badge-danger" style="display: none;"><i class="fas fa-exclamation"></i></span>
                    </a>
                </li>
            <% } -%>
            
            <li class="heading">
                <h3 class="uppercase">Người dùng</h3>
            </li>
            <li class="nav-item  ">
                <a href="/user/profile" class="nav-link">
                    <i class="far fa-address-card"></i>
                    <span class="title">Hồ sơ</span>
                    <span class="title"></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR