<div class="form-group row comp" data-key="3">
					
	<div class="form-group row col-12">
		<label for="fb_template_type" class="col-2">Định dạng mẫu</label>
		<div class="col-10">
			<select name="fb_template_type" class="form-control" id="fb_template_type">
				<option hidden disabled selected value> -- select an option -- </option>
		        <option value="generic">Mẫu chung (generic)</option>
		        <option value="button">Mẫu nút (button)</option>
		        <option value="media">Mẫu phương tiện (media)</option>
			</select>
		</div>
	</div>
	
</div>