<div class="form-group row fb_tpl_type col-12" data-type="generic">
	<div class="form-group row col-12">
		<label for="inputTitle_generic" class="col-2 form-control-label"> Tiêu đề </label>
		<div class="col-10">
			<input type="text" name="title_generic" class="form-control" id="inputTitle_generic" placeholder="Title" required>
		</div>
	</div>
	<div class="form-group row col-12">
		<label for="inputSubtitle_generic" class="col-sm-2 form-control-label"> Phụ đề </label>
		<div class="col-10">
			<input type="text" name="subtitle_generic" class="form-control" id="inputSubtitle_generic" placeholder="Subtitle">
		</div>
	</div>
	<div class="form-group row col-12">
		<label for="inputImageURL_generic" class="col-2 form-control-label"> Đường dẫn tới hình ảnh </label>
		<div class="col-10">
			<input type="text" name="image_url_generic" class="form-control" id="inputImageURL_generic" placeholder="Image URL">
		</div>
	</div>
	<div class="form-group row col-12">
		<label class="col-2 form-control-label"> Hành động mặc định </label>
		<label for="inputDefault_URL_generic" class="col-2 form-control-label"> Đường dẫn mặc định </label>
		<input type="text" name="default_URL_generic" class="col-8 form-control" placeholder="Default URL to open">
	</div>
	<div class="form-group row col-12">
		<label for="num_of_button" class="col-2 form-control-label"> Số lượng các nút </label>
		<select name="num_of_button" class="form-control col-1 num_of_button">
	        <option value="1" selected>1</option>
	        <option value="2">2</option>
	        <option value="3">3</option>
		</select>
		<label class="col-3 form-control-label" style="text-align: center;"> Loại nút </label>
		<label class="col-3 form-control-label" style="text-align: center;"> URL | Payload</label>
		<label class="col-3 form-control-label" style="text-align: center;"> Tiêu đề nút</label>
	</div>
	<div class="form-group row generic_tpl_button col-12" id="generic_button_1">
		<div class="form-group col-2"></div>
		<label class="col-2 form-control-label"> Button 1 </label>
		<div class="form-group row col-8">
			<select name="style_of_button_1_generic" class="form-control col-4">
		        <option value="web_url" selected>Nút URL</option>
		        <option value="payload">Nút đăng lại</option>
    		</select>
				<div class="col-4">
				<input type="text" name="URL_button_1_generic" class="form-control" placeholder=" URL | payload ">
			</div>
			<div class="col-4">
				<input type="text" name="title_button_1_generic" class="form-control" placeholder="Title to display">
			</div>
		</div>
	</div>
</div>