<div class="form-group row fb_tpl_type col-12" data-type="media">
	<div class="form-group row col-12">
		<label for="inputImageURL_media" class="col-2 form-control-label"> Media type </label>
		<div class="col-3">
    	<select name="fb_tpl_media_type" class="form-control">
	        <option value="video">Video</option>
	        <option value="photo">Hình ảnh</option>
	    </select>
		</div>
		<label for="inputImageURL_media" class="col-2 form-control-label"> Đường dẫn </label>
		<div class="col-5">
			<input type="text" name="media_url_media" class="form-control" id="inputMediaURL_media" placeholder="URL">
		</div>
	</div>
</div>