<div class="form-group row " data-key="2">
	<label for="inputQuestion" class="col-4"><i class="fas fa-question-circle"></i> Câu hỏi</label>
	<label for="inputQuickReplies" class="col-4"><i class="fab fa-replyd"></i> Câu trả lời nhanh</label>
	<label for="inputPayload" class="col-3"><i class="fas fa-arrow-alt-circle-right"></i> Payload </label>
	<div class="form-group row col-12" style="padding-right: 0">
		<div class="form-group col-4">
	    	<input type="text" name="question" class="form-control" id="inputQuestion" placeholder="Question">
	  	</div>
	  	<div class="form-group col-8" id="replies_area" style="padding-right: 0">
	  		<div class="form-group col-12 row" id="reply1" style="padding-right: 0">
	  			<div class="form-group col-6">
	  			<input type="text" name="quick_reply0" class="form-control reply" id="inputQuickReplies" placeholder="Option">
	  		</div>
	  		<div class="form-group col-6" style="padding-right: 0">
	    		<input type="text" name="payload0" class="form-control payload" id="inputPayload" placeholder="Payload for option">
	  		</div>
	  		</div>
	  		<div class="form-group row" id="adding_reply" style="padding-right: 0">
	  			<button type="button" class="btn btn-outline-secondary col-12 form-control" onclick="add_quick_reply()">Thêm quick reply</button>
	  		</div>
	  	</div>
	</div>
</div>