<% include _layouts/header %>
</header>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <% include _layouts/top_menu %>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <% include _layouts/sidebar %>
        <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Quản lý tin nhắn
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <% include _layouts/toolbar %>
                    </div>
                    <!-- END PAGE HEAD-->
                    <% include _layouts/breadcrumb %>
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="far fa-list-alt"></i>Danh sách mẫu tin nhắn</div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="javascript:;" class="reload" onclick="getEmployee()"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th> Số thứ tự </th>
                                                    <th> Mã vùng </th>
                                                    <th> Tên </th>
                                                    <th> Số điện thoại </th>
                                                    <th> Thao tác </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <% include _layouts/quick_sidebar %>
    </div>
    <!-- END CONTAINER -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	// location.hash = "main"
	function getEmployee(){
		axios.get('/manager/employee/list',{
			headers:{
				'Content-Type': 'application/json',
				}
			}).then(function(response){
				var a = JSON.stringify(response.data)
				showOut(a)
			}).catch(function(error){
				console.log(error)
			})
	}	
	function showOut(items){
		var table_body = document.querySelector('table tbody')
		var a = JSON.parse(items)
		var index = 0
		for(let i of a){
			let row = table_body.insertRow(index)
			row.id = i._id
			
			var cell0 = row.insertCell(0)
			var cell1 = row.insertCell(1)
			var cell2 = row.insertCell(2)
			var cell3 = row.insertCell(3)
			var cell4 = row.insertCell(4)
			
			cell0.innerHTML = index + 1
			cell1.innerHTML = (i.area_code == undefined)?"N/A": i.area_code
			cell2.innerHTML = (i.name == undefined)?"N/A":i.name
			cell3.innerHTML = (i.contact_phone == undefined)?"N/A":i.contact_phone
			cell4.innerHTML = `<i class="fas fa-trash" style="color: red" id=${i._id}></i> <i class="fas fa-info-circle" style="color: #3598dc" id=${i._id}></i>`
			index++
			var icons1 = document.getElementsByClassName('fa-trash')
		}
		for(let i of icons1){
			i.addEventListener('click', delScript)
		}

		var icons2 = document.getElementsByClassName('fa-info-circle')
		for(let i of icons2){
			i.addEventListener('click', getProperties)
		}
	}
	getEmployee()
	function getProperties(e){
		var _id = this.id
		window.open('/script/properties/' + encodeURIComponent(_id), '_blank')
	}

	function delScript(e){
		var _id = this.id
		var conf = confirm('Bạn chắc chắn muốn xóa mẫu tin nhắn này?')
		if(!conf) return
		axios.delete(`/script/delete/${_id}`).
		then(function(response){
			if(response.status == 200){
				alert('Xóa mẫu tin nhắn thành công!')
				location.reload()
			}else{
				alert('Đã có lỗi xảy ra, vui lòng thử lại!')
			}
		}).
		catch(function(error){
			alert('Đã có lỗi xảy ra, vui lòng thử lại!')
		})
	}
</script>
<% include _layouts/footer %>