<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Chi tiết</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<meta name="theme-color" content="#574E4E">
	<meta name="msapplication-TileColor" content="#574E4E">
	<meta name="msapplication-navbutton-color" content="#574E4E">
	<meta name="apple-mobile-web-app-status-bar-style" content="#574E4E">
	<link rel="shortcut icon" href="image.jpg">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>
		<h1 class="display-4">BotkitCMS</h1>
	</header>
	<div class="container">
		<div class="row" id='div_button'>
			<div class="btn-group" role="group" aria-label="Button">
				<button type="button" class="btn btn-secondary btn-info" onclick="window.location.href='/'">Danh sách</button>
				<button type="button" class="btn btn-secondary btn-toolbar" onclick="window.location.href='/script/add'">Thêm script</button>
				<button type="button" class="btn btn-secondary btn-warning">Hướng dẫn</button>
			</div>
		</div>
		<div class="row" id="div_form">
			<form class="col-12 border-info" method="POST">
				<div class="form-group row">
					<label for="inputCommand" class="col-sm-2 form-control-label">Lệnh điều khiển</label>
					<div class="col-sm-10">
						<input type="text" name="command" class="form-control" id="inputCommand" placeholder="Command">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputDescription" class="col-sm-2 form-control-label">Mô tả</label>
					<div class="col-sm-10">
						<input type="text" name="description" class="form-control" id="inputDescription" placeholder="Description">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputID" class="col-sm-2 form-control-label">Script ID</label>
					<div class="col-sm-10">
						<input type="text" name="id" class="form-control" id="inputID" placeholder="ID">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-2 form-control-label">Tên script</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
					</div>
				</div>
				<div class="form-group" id="trigger_area">
				  	<div class="form-group row" id="original1">
				  		<label class="col-2">Triggers</label>
				  		<label class="col-2">Trigger type</label>
						<div class="form-group col-3">
				    	<select name="type0" class="form-control">
					        <option value="string" selected>Chuỗi kí tự</option>
					        <option value="regexp">Regular Expression</option>
					    </select>
					  	</div>
					  	<label class="col-1">Trigger</label>
					  	<div class="form-group col-4">
					    	<input type="text" name="trigger0" class="form-control" placeholder="Trigger">
					  	</div>
				  	</div>
				</div>
				<div class="form-group row">
					<label for="inputVariables" class="col-2">Biến dữ liệu</label>
					<div class="form-group col-10">
				    	<input type="text" name="variables" class="form-control" id="inputVariables" placeholder="Variables">
				  	</div>
				</div>
				<div class="form-group row">
					<label for="inputTopic" class="col-2">Chủ đề</label>
					<div class="form-group col-10">
				    	<input type="text" name="topic" class="form-control" id="inputTopic" placeholder="Topic">
				  	</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2">Định dạng script</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input class="key" type="radio" name="script" data-key="1" id="gridRadios2" value="facebook_template">
								Tin nhắn text hoặc fb template
							</label>
						</div>
						<div class="radio">
							<label>
								<input class="key" type="radio" name="script" data-key="2" id="gridRadios3" value="question">
								Câu hỏi
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row comp" data-key="1">
					<label for="inputReply" class="col-2">Facebook_template</label>
					<div class="form-group col-10">
				    	<input type="text" name="text0" class="form-control" id="inputReply" placeholder="Reply">
				  	</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-success float-right">OK</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		const comps = Array.from(document.querySelectorAll('.comp'))
		comps.forEach(comp => comp.style.display = 'none')
		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");
		    
		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");
		        
		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }
		    
		    // Return null if not found
		    return null;
		}

		function display(num){
			//dựa vào data-key để hiển thị div chứa định dạng tương ứng
			comps.forEach(comp => comp.style.display = 'none')
		    const selected = document.querySelector(`div[data-key="${num}"]`)
		    selected.style.display = 'block'
		}

		const cookie = getCookie('result')

		function execInfo(cookie){
			const info = JSON.parse(cookie)
			console.log(info)
			// document.getElementsByTagName('input').forEach(input =>{
			// 	input.readOnly = "true"
			// })
			document.getElementById('inputCommand').value = (info.command)?info.command:'N/A'
			document.getElementById('inputDescription').value = (info.description)?info.description:'N/A'
			document.getElementById('inputID').value = info.id

			//hiển thị danh sách triggers
			var triggers_length = info.triggers.length
			if(triggers_length != 1){
				var trigger_area = document.getElementById('trigger_area')
				var original1 = document.getElementById('original1')
				for(let i = 1; i < triggers_length; i++){
					let newNode = original1.cloneNode(true)
					newNode.id = `original${i + 1}`
					trigger_area.appendChild(newNode)
					let labels = document.querySelectorAll(`#original${i + 1} label`)
		  			labels.forEach(label => label.innerHTML = "")
				}
			}

			document.getElementById('inputName').value = (info.name)?info.name:'N/A'
			let variables = (info.variables.length != 0)?info.variables.join(', ').replace(/[{}]/g, ''):'N/A'
			document.getElementById('inputVariables').value = variables

			info.triggers.map((value, index)=>{
				let select = document.querySelector(`#original${index + 1} select`)
				select.name = `type${index + 1}`

				select.value = value.fromType

				let input = document.querySelector(`#original${index + 1} input`)
				input.value = value.pattern

			})

			//lựa chọn hiển thị định dạng script
			var select_type_script = document.getElementsByClassName('key')
			if(type_of_script(info.scripts) == true){
				select_type_script[1].checked = true
				display(2)
			}else{
				select_type_script[0].checked = true
				display(1)
			}
		}

		function type_of_script(input){
			if(typeof(input) == 'array'){
				input.forEach(ele, type_of_script(ele))
			}else if(typeof(input) == 'object'){
				if('question' in input) return true
			}

			return false
		}

		execInfo(cookie)
	</script>
</body>
</html>