<!-- question-properties-area -->

<div class="form-group row comp" data-key="2">
	<div class="form-group row">
		<label for="inputTextBefore" class="col-2">Lời mở đầu</label>
		<div class="form-group col-10">
	    	<input type="text" name="text_before0" class="form-control" id="inputTextBefore" placeholder="Text before">
	  	</div>
	</div>	
	<label for="inputQuestion" class="col-4"><i class="fas fa-question-circle"></i> Câu hỏi</label>
	<label for="inputQuickReplies" class="col-4"><i class="fab fa-replyd"></i> Câu trả lời nhanh</label>
	<label for="inputPayload" class="col-3"><i class="fab fa-replyd"></i> Payload </label>
	<div class="form-group row" >
		<div class="form-group col-4">
	    	<input type="text" name="question" class="form-control" id="inputQuestion" placeholder="Question">
	  	</div>
	  	<div class="form-group col-8" id="replies_area">
	  		<div class="form-group col-12 row" id="reply1">
	  			<div class="form-group col-6">
	  			<input type="text" name="quick_reply0" class="form-control reply" id="inputQuickReplies" placeholder="Option1">
	  		</div>
	  		<div class="form-group col-6">
	    		<input type="text" name="payload0" class="form-control payload" id="inputPayload" placeholder="Payload for option1">
	  		</div>
	  		</div>
	  	</div>
	</div>
	<div class="form-group row">
	  	<label for="inputNextQSID" class="col-2">ID câu hỏi kế tiếp</label>
	  	<div class="form-group col-4">
	    	<input type="text" name="id_next_question" class="form-control" id="inputNextQSID" placeholder="Next question ID">
	  	</div>
	  	<label for="inputTextAfter" class="col-2">Lời kết thúc và cảm ơn</label>
	  	<div class="form-group col-4">
	    	<input type="text" name="text_after0" class="form-control" id="inputTextAfter" placeholder="Text after">
	  	</div>
	</div>	
</div>