*{
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

header{
	height: 100px;
	background-color: #574E4E;
	h1{
		line-height: 100px !important;
		color: #fff;
		text-indent: 20px;
		font-weight: 800;
	}
}

#div_button, #div_form{
  position: relative;
  margin-top: 20px;
  font-weight: 900;
  	form{
  		padding: 0;
  		.comp{
  			display: none;
        padding-left: 15px;
        padding-right: 15px;
  		}
  		#adding_reply{
  			margin-top: 10px !important;
  			margin-bottom: 10px !important;
  		}
  		#adding_trigger{
  			padding-left: 15px;
  			padding-right: 15px;
  		}
  	}
}

#div_table{
	position: relative;
	margin-top: 40px;
	padding: 0 !important;
}